<div>
  <div>
    <button class="btn-sq" type="button" onclick="dialog.close()">
      <icon>close</icon>
    </button>
    <h1>{{ headline }}</h1>
    {% if save_url %}
      <button
        id="dialog-save"
        type="button"
        disabled
        {{ 'hx-' + (save_method or 'put') + '="' + save_url + '"' }}
        hx-disabled-elt="this"
        hx-target="#dialog-error"
        hx-include="next form"
      >
        Save
      </button>
    {% endif %}
  </div>
  {% if include_error %}
    {% include "shared/dialog-headline-error.jinja" %}
  {% endif %}
</div>
