<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover, interactive-widget=resizes-{{ resizes or 'content' }}"
  />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link
    rel="icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}"
    type="image/x-icon"
  />
  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <link
    id="theme-stylesheet"
    rel="stylesheet"
    href="{{ url_for('common.theme_css') }}"
  />
  <link id="theme-live" rel="stylesheet" />
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/tinycolor2@1.6.0/cjs/tinycolor.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.2.0/dist/chartjs-plugin-zoom.min.js"
  ></script>
  {% assets "js" %}
    <script defer src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&icon_names={{ icons }}"
  />
  {# Embed directly to avoid FOUC #}
  <script>
    function updateTheme(selection) {
      if (selection == "system") {
        localStorage.removeItem("currentTheme");
      } else if (selection != null) {
        localStorage.currentTheme = selection;
      }

      let radioBtns = null;
      if (localStorage.currentTheme === "dark") {
        radioBtns = document.querySelectorAll(".theme-dark");
      } else if (localStorage.currentTheme === "light") {
        radioBtns = document.querySelectorAll(".theme-light");
      } else {
        radioBtns = document.querySelectorAll(".theme-system");
      }
      if (radioBtns) {
        radioBtns.forEach((e) => {
          e.checked = true;
        });
      }

      document.documentElement.classList.toggle(
        "dark",
        localStorage.currentTheme === "dark" ||
          (!("currentTheme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );

      if (typeof pluginColor !== "undefined") pluginColor.update();
      if (typeof pluginTreeColor !== "undefined") pluginTreeColor.update();
      if (typeof updateColorSwatches !== "undefined") updateColorSwatches();
    }

    updateTheme();
    domLoaded = false;
    document.addEventListener("DOMContentLoaded", () => {
      domLoaded = true;
    });

    function onLoad(func) {
      if (domLoaded) setTimeout(func, 20);
      else document.addEventListener("DOMContentLoaded", func);
    }
    onLoad(() => {
      updateTheme();
    });
  </script>
</head>
