# IDE files
.venv*
.env*
.nvim*
prompt.md
.vale/styles/Microsoft
.vale/styles/proselint
.vale/styles/write-good

# Build artifacts
__pycache__
build
*.egg-info
dist
version.py
.webassets-cache

# Node
node_modules

# Test artifacts
.test
.coverage
coverage.json
test_log.json
result.json

# Secrets
*.secret
