<!DOCTYPE html>
{# djlint: off: H016,H030,H031 #}
{# ignore missing <head> #}
<html lang="en-US">
  {# djlint: on #}
  {% with resizes="visual" %}
    {% include "shared/head.jinja" %}
  {% endwith %}
  <body
    hx-on::config-request="addTimezone(event)"
    hx-on::send-error="appSendError(event)"
    hx-on::response-error="appResponseError(event)"
  >
    {% include "shared/hx-error.jinja" %}
    <div id="main-sizer" class="p-0 pb-28">
      <main id="main" class="flex flex-col items-center justify-center">
        <form
          id="form-login"
          class="mx-2 my-8 flex max-h-96 w-full max-w-96 grow flex-col items-center rounded-2xl bg-surface-container-high p-2"
          hx-post="{{ url_for('auth.login') }}"
          hx-disabled-elt="find button"
          hx-target="#login-error"
          hx-include="this"
        >
          <h1 class="font-title text-7xl">Template</h1>
          <p class="grow text-center">
            A template repository for flask with htmx
          </p>
          <div id="login-error" class="status-error"></div>
          {% if next_url %}
            <input name="next" type="hidden" value="{{ next_url }}" />
          {% endif %}
          <label
            class="input-outlined my-2 w-full input-bg-surface-container-high"
          >
            <input
              class="scroll-mb-20"
              name="password"
              type="password"
              placeholder=""
              enterkeyhint="go"
              autofocus
            />
            <div>
              <div>Password</div>
            </div>
          </label>
          <button type="submit" class="btn-filled font-serif btn-size-lg">
            Login
            <icon>login</icon>
          </button>
        </form>
        {% if debug %}
          <form
            class="mx-2 flex w-full max-w-96 justify-center"
            hx-post="{{ url_for('auth.debug_login') }}"
            hx-disabled-elt="find button"
            hx-target="#login-error"
            hx-include="this"
          >
            {% if next_url %}
              <input name="next" type="hidden" value="{{ next_url }}" />
            {% endif %}
            <button type="submit" class="btn-tonal">
              Debug login
              <icon>bug_report</icon>
            </button>
          </form>
        {% endif %}
      </main>
    </div>
    <div id="snackbar" onclick="snackbar.hide()"></div>
    <script id="snackbar-script"></script>
    <div class="dialog-wrapper z-48">{% include "shared/dialog.jinja" %}</div>
    <div
      id="scrim"
      class="scrim z-47"
      onclick="dialog.close();nav.closeDrawer()"
    ></div>
    <script id="dialog-script"></script>
    <div class="dialog-wrapper z-50">
      <div id="confirm-dialog" class="dialog max-w-80"></div>
    </div>
    <div
      id="confirm-scrim"
      class="scrim z-49"
      onclick="dialog.closeConfirm()"
    ></div>
    {# Dummy element when no response from server expected #}
    <div id="no-target"></div>
    {% block footer %}
      {% include "shared/footer.jinja" %}
    {% endblock footer %}
  </body>
</html>
