<details class="rounded-md bg-surface-container-low" name="operation" open>
  <summary
    class="{{ op.method.container }} flex items-center gap-2 rounded-md p-2"
  >
    <div
      class="{{ op.method.badge }} min-w-20 rounded p-1 text-center font-mono"
    >
      {{ op.method.name }}
    </div>
    <code class="grow">{{ op.url | e }}</code>
    <icon class="details-icon-open">keyboard_arrow_up</icon>
    <icon class="details-icon-closed">keyboard_arrow_down</icon>
  </summary>
  <div class="prose px-2">
    {% for p in op.description %}<p>{{ p }}</p>{% endfor %}
  </div>
  {% if op.url_args %}
    <div class="px-2">
      <h2 class="font-bold">URL parameters</h2>
      <dl>
        {% for name, desc in op.url_args.items() %}
          <dt>
            <code>{{ name | e }}</code>
          </dt>
          <dd class="pl-4">{{ desc | e }}</dd>
        {% endfor %}
      </dl>
    </div>
  {% endif %}
  {% if op.query_args %}
    <div class="px-2">
      <h2 class="font-bold">Query parameters</h2>
      <dl>
        {% for name, desc in op.query_args.items() %}
          <dt>
            <code>{{ name | e }}</code>
          </dt>
          <dd class="pl-4">{{ desc | e }}</dd>
        {% endfor %}
      </dl>
    </div>
  {% endif %}
  <div class="px-2">
    <h2 class="font-bold">Request</h2>
    {% if op.request_schema_json %}
      <div class="flex items-center gap-1 py-1">
        <span>Schema</span>
        <button
          class="btn-example btn-tonal"
          type="button"
          onclick="apiDocs.loadSnippet(event)"
        >
          Example
        </button>
        <button
          class="btn-schema btn-text"
          type="button"
          onclick="apiDocs.loadSnippet(event)"
        >
          Schema
        </button>
      </div>
      <pre
        class="snippet-example rounded-md bg-surface-container-highest p-1 font-mono"
      >
{{- op.request_example_json | e -}}</pre>
      <pre
        class="snippet-schema hidden rounded-md bg-surface-container-highest p-1 font-mono"
      >
{{- op.request_schema_json | e -}}</pre>
    {% else %}
      <div class="pl-4 italic">no body needed</div>
    {% endif %}
    <h2 class="font-bold">Response</h2>
    {% for status, resp in op.responses.items() %}
      <div class="flex items-center gap-1 border-t py-1">
        <div
          class="min-w-20 rounded bg-secondary p-0.5 text-center font-mono text-on-secondary"
        >
          {{ status }}
        </div>
        <button
          class="btn-example btn-tonal"
          type="button"
          onclick="apiDocs.loadSnippet(event)"
        >
          Example
        </button>
        <button
          class="btn-schema btn-text"
          type="button"
          onclick="apiDocs.loadSnippet(event)"
        >
          Schema
        </button>
      </div>
      <pre
        class="snippet-example rounded-md bg-surface-container-highest p-1 font-mono"
      >
{{- resp.example_json | e -}}</pre>
      <pre
        class="snippet-schema hidden rounded-md bg-surface-container-highest p-1 font-mono"
      >
{{- resp.schema_json | e -}}</pre>
    {% endfor %}
  </div>
</details>
