<div
  hx-get="{{ url_for('items.page_all') }}"
  hx-trigger="item from:body"
  hx-target="#main"
  hx-include="[name='before'], [name='limit'], [name='offset']"
>
  <h1>Items</h1>
  <input name="limit" type="hidden" value="{{ limit }}" />
  <input name="offset" type="hidden" value="{{ offset }}" />
  <div class="flex flex-wrap items-end gap-2">
    <form
      class="flex items-end gap-2"
      hx-get="{{ url_for('items.page_all') }}"
      hx-disabled-elt="find button"
      hx-target="#main"
      hx-swap="innerHTML show:window:top"
      hx-push-url="true"
      hx-include="[name='before']"
    >
      <label class="input-outlined input-bg-surface-container-high">
        <input name="before" type="date" value="{{ before }}" placeholder="" />
        <div>
          <div>Before</div>
        </div>
      </label>
      <button class="btn-tonal" type="submit">Filter</button>
    </form>
    <button
      type="button"
      class="btn-tonal"
      hx-get="{{ url_for('items.new') }}"
      hx-disabled-elt="this"
      hx-target="#dialog"
      hx-swap="innerHTML show:#dialog:top"
      hx-push-url="#dialog"
    >
      <icon>add</icon>New
    </button>
  </div>
</div>
<div>
  <h2 class="text-xl">Total</h2>
  <h1 class="font-serif text-6xl text-tertiary">{{ ctx.total | comma }}</h1>
</div>
<details class="mx-auto mb-2 max-w-2xl rounded-md bg-surface-container-high">
  <summary
    class="flex items-center gap-2 rounded-md bg-tertiary-container p-2 text-on-tertiary-container"
  >
    <icon>help</icon>
    <span class="mr-auto">About items</span>
    <icon class="details-icon-open">keyboard_arrow_up</icon>
    <icon class="details-icon-closed">keyboard_arrow_down</icon>
  </summary>
  <div class="mx-auto prose px-2">
    <p>Items are things</p>
  </div>
</details>
{% for item in ctx["items"] %}
  {% include "items/item-row.jinja" %}
  {% if not loop.last %}<hr class="mx-4 my-1" />{% endif %}
{% endfor %}
{% if offset > 0 or ctx.next_offset is not none %}
  <nav class="flex gap-2 py-2">
    {% if offset > 0 %}
      <a
        class="mr-auto btn-outlined"
        href="{{ url_for('items.page_all', before=before, limit=limit, offset=offset - limit if offset >= limit else 0) }}"
        hx-get="{{ url_for('items.page_all', before=before, limit=limit, offset=offset - limit if offset >= limit else 0) }}"
        hx-disabled-elt="this"
        hx-target="#main"
        hx-swap="innerHTML show:window:top"
        hx-push-url="true"
      >
        <icon>chevron_backward</icon>Previous
      </a>
    {% endif %}
    {% if ctx.next_offset is not none %}
      <a
        class="btn-outlined"
        href="{{ url_for('items.page_all', before=before, limit=limit, offset=ctx.next_offset) }}"
        hx-get="{{ url_for('items.page_all', before=before, limit=limit, offset=ctx.next_offset) }}"
        hx-disabled-elt="this"
        hx-target="#main"
        hx-swap="innerHTML show:window:top"
        hx-push-url="true"
      >
        Next<icon>chevron_forward</icon>
      </a>
    {% endif %}
  </nav>
{% endif %}
